apiVersion: apps/v1
kind: Deployment
metadata:
  name: inflate
  labels:
    backstage.io/kubernetes-id: rnd-ops.goreel.tech
spec:
  replicas: 0
  selector:
    matchLabels:
      app: inflate
  template:
    metadata:
      labels:
        app: inflate
        backstage.io/kubernetes-id: rnd-ops.goreel.tech
    spec:
      terminationGracePeriodSeconds: 0
      containers:
        - name: inflate
          image: public.ecr.aws/eks-distro/kubernetes/pause:3.7
          resources:
            requests:
              cpu: 0.25
